<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393420730556-enhkdqhij32b348neaqme9ulfl24qpfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393420730556-enhkdqhij32b348neaqme9ulfl24qpfl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393420730556-1rrhapqinmojd18c0u416c0blur47rum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHJzGBHe50KwUqITIdDueZRrsIK5J-jEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>393420730556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fbfashions</string>
	<key>PROJECT_ID</key>
	<string>fbfashions-55fc2</string>
	<key>STORAGE_BUCKET</key>
	<string>fbfashions-55fc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393420730556:ios:d845d35ff43a8f8ab860b9</string>
	<key>DATABASE_URL</key>
	<string>https://fbfashions-55fc2.firebaseio.com</string>
</dict>
</plist>